# ignore build and debug directories
Debug/
Release/
launch/
Startup/
.settings/


# ignore STM32CubeIDE project files
*.launch
*.log.
*.temp
*.swp
*.cfg
*.project
*.cproject


# ignore object files
*.o
*.elf
*.bin
*.hex
*.map
